h1{
    color:pink
}
*{
    border:solid
}
.header{
    background: rgb(240, 255, 245);
    display:flex;
    justify-content:space-between ;
}
.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align:center
}
